{% extends 'base.html' %}
{% block title %}
    新增接口
{% endblock %}
{% block ziyuan %}
    <script src="/static/js/UserGroup/loginCheck.js"></script>
{% endblock %}
{% block body %}
    <form class="form-horizontal" id="apiform">
        <div class="form-group">
            <label class="col-sm-2 control-label">接口版本</label>
            <div class="col-sm-2">
                <input class="form-control" placeholder="请输入接口版本号" v-model="apiversion">
            </div>
            <label class="col-sm-1 control-label">接口名称</label>
            <div class="col-sm-2">
                <input class="form-control" placeholder="请输入接口名称" v-model="apiname">
            </div>
            <label class="col-sm-1 control-label">接口状态</label>
            <div class="col-sm-2">
                <select class="form-control" v-model="apistatus" options="apiStatusOption">
                    <option value="normal">正常</option>
                    <option value="invalid">无效</option>
                    <option value="developing">开发中</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">所属模块</label>
            <div class="col-sm-2">
                <select class="form-control" v-model="belongmodel">
                    <option value="UserManage">用户管理</option>
                    <option value="SystemFunc">系统功能</option>
                    <option value="Combination">组合</option>
                    <option value="FinancitionMsg">财讯</option>
                    <option value="Articles">文章</option>
                    <option value="MsgPush">消息推送</option>
                    <option value="StockCompetition">炒股大赛</option>
                    <option value="Advertisement">广告</option>
                    <option value="InterestManage">投顾管理</option>
                    <option value="View">观点</option>
                    <option value="Question">问题</option>
                    <option value="SensitiveWords">敏感词</option>
                    <option value="InvestmentCollege">投资学院</option>
                    <option value="StockLive">股市直播</option>
                </select>
            </div>
            <label class="col-sm-1 control-label">所属系统</label>
            <div class="col-sm-2">
                <select class="form-control" v-model="belongsystem">
                    <option value="caJava">微证券中台</option>
                    <option value="bus">云投顾bus</option>
                    <option value="netHall">网厅</option>
                    <option value="stockLiveBroadcast">股市直播（app）</option>
                    <option value="broadcastBus">股市直播（后台）bus</option>
                    <option value="web">智信理财师</option>
                    <option value="chinalin_pay">华林支付中台</option>
                </select>
            </div>
            <label class="col-sm-1 control-label">开发者</label>
            <div class="col-sm-2">
                <select class="form-control" v-model="developer">
                    <option value="wudw">吴道万</option>
                    <option value="xucx">徐成勋</option>
                    <option value="huangq">黄强</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">使用范围</label>
            <div class="col-sm-8">
                <textarea class="form-control" rows="3" v-model="userrange"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">接口URL</label>
            <div class="col-sm-5">
                <input class="form-control" placeholder="请输入接口URL" v-model="apiurl">
            </div>
            <label class="col-sm-1 control-label">请求方式</label>
            <div class="col-sm-2">
                <select class="form-control" v-model="requestmethod">
                    <option value="GET">GET</option>
                    <option value="POST">POST</option>
                    <option value="PUT">PUT</option>
                    <option value="DELETE">DELETE</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Mock地址</label>
            <div class="col-sm-8">
                <textarea class="form-control" rows="3" v-model="mockurl">无</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">请求头说明</label>
            <div class="col-sm-8">
                <input class="form-control" placeholder="请输入请求头说明" value="无" v-model="requestheaddoc">
            </div>
        </div>
        <div class="form-group">
            <div v-for="(inputpara, index) in inputparas">
                <label class="col-sm-2 control-label">请求参数</label>
                <div class="col-sm-1">
                    <input class="form-control" placeholder="参数名" v-model="inputpara.paraName">
                </div>
                {{ index }}
                <div class="col-sm-1">
                    <select class="form-control" v-model="inputpara.paraType">
                        <option value="String">String</option>
                        <option value="Int">Int</option>
                        <option value="List">List</option>
                        <option value="JSONString">JSONString</option>
                        <option value="Date">Date</option>
                        <option value="Boolean">Boolean</option>
                    </select>
                </div>
                <div class="col-sm-1">
                    <input class="form-control" placeholder="长度" v-model="inputpara.paraLength">
                </div>
                <div class="col-sm-3">
                    <input class="form-control" placeholder="参数说明" v-model="inputpara.paraDoc">
                </div>
                <div class="col-sm-1">
                    <input class="form-control" placeholder="缺省值" v-model="inputpara.paraDefault">
                </div>
                <div class="col-sm-1">
                    <select class="form-control" v-model="inputpara.paraIsNeed">
                        <option value="no">非必填</option>
                        <option value="yes">必填</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-danger" @click="inputParaAdd">+</button>
                    <button type="button" class="btn btn-danger" @click="inputParaRemove(index)">X</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">请求示例</label>
            <div class="col-sm-8">
                <textarea class="form-control" rows="5" v-model="requestdemo"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div v-for="(returnPara, index) in returnParas">
                <label class="col-sm-2 control-label">返回参数说明</label>
                <div id="returnPara" data-box="01">
                    <div class="col-sm-1">
                        <input class="form-control" placeholder="参数名" v-model="returnPara.paraName">
                    </div>
                    <div class="col-sm-1">
                        <select class="form-control" v-model="returnPara.paraType">
                            <option value="String">String</option>
                            <option value="Int">Int</option>
                            <option value="List">List</option>
                            <option value="JSONString">JSONString</option>
                            <option value="Date">Date</option>
                            <option value="Boolean">Boolean</option>
                        </select>
                    </div>
                    <div class="col-sm-1">
                        <input class="form-control" placeholder="长度" v-model="returnPara.paraLength">
                    </div>
                    <div class="col-sm-3">
                        <input class="form-control" placeholder="参数说明" v-model="returnPara.paraDoc">
                    </div>
                    <div class="col-sm-1">
                        <select class="form-control" v-model="returnPara.paraIsNeed">
                            <option value="no">非必返</option>
                            <option value="yes">必返</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-danger" @click="returnParaAdd">+</button>
                        <button type="button" class="btn btn-danger" @click="returnParaRemove(index)">X</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">正确返回示例</label>
            <div class="col-sm-8">
                <textarea class="form-control" rows="5" v-model="rightreturndoc"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">错误返回示例</label>
            <div class="col-sm-8">
                <textarea class="form-control" rows="3" v-model="errreturndoc"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">错误码</label>
            <div class="col-sm-8">
                <textarea class="form-control" rows="3" v-model="errcode"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-default" @click="submit">提交</button>
            </div>
        </div>
    </form>
{% endblock %}
{% block script %}
    <script>
        var apiform = new Vue({
            el: '#apiform',
            data: {
                apiversion: this.apiversionm,
                apiname: this.apiname,
                apistatus: 'normal',
                belongmodel: 'UserManage',
                belongsystem: 'caJava',
                developer: this.developer,
                userrange: this.userrange,
                apiurl: this.apiurl,
                requestmethod: 'GET',
                mockurl: '无',
                requestheaddoc: '无',
                inputparas: [
                    {
                        paraName: '',
                        paraType: 'String',
                        paraLength: '',
                        paraDoc: '',
                        paraDefault: '',
                        paraIsNeed: 'no'
                    }
                ],
                inputPara: {
                    paraName: '',
                    paraType: 'String',
                    paraLength: '',
                    paraDoc: '',
                    paraDefault: '',
                    paraIsNeed: 'no'
                },
                requestdemo: this.requestdemo,
                returnParas: [
                    {
                        paraName: '',
                        paraType: 'String',
                        paraLength: '',
                        paraDoc: '',
                        paraIsNeed: 'no'
                    }
                ],
                returnPara: {
                    paraName: '',
                    paraType: 'String',
                    paraLength: '',
                    paraDoc: '',
                    paraIsNeed: 'no'
                },
                rightreturndoc: this.rightreturndoc,
                errreturndoc: this.errreturndoc,
                errcode: this.errcode
            },
            methods: {
                submit: function () {
                    var formdata = {
                        'apistatus': this.apistatus,
                        'belongmodel': this.belongmodel,
                        'belongsystem': this.belongsystem,
                        'requestmethod': this.requestmethod,
                        'mockurl': this.mockurl,
                        'requestheaddoc': this.requestheaddoc,
                        'inputparas': this.inputparas,
                        'returnparas': this.returnParas,
                        'apiname': this.apiname,
                        'userrange': this.userrange,
                        'apiurl': this.apiurl,
                        'rightreturndoc': this.rightreturndoc,
                        'errreturndoc': this.errreturndoc,
                        'errcode': this.errcode,
                        'apiversion': this.apiversion,
                        'developer': this.developer,
                        'requestdemo': this.requestdemo
                    };

                    $.ajaxSetup({
                        data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
                    });
                    $.post('/interfacemanage/newinterface/', formdata, function (result) {
                        if (result['error_no'] == 'IF0000') {
                            alert(result['error_info']);
                            window.location.href = '/interfacemanage/'
                        } else {
                            alert(result['error_info'])
                        }
                    })
                },
                inputParaRemove: function (i) {
                    this.inputparas.splice(i, 1)
                },
                inputParaAdd: function () {
                    this.inputparas.push(this.inputPara);
                    this.inputPara = {
                        paraName: '',
                        paraType: 'String',
                        paraLength: '',
                        paraDoc: '',
                        paraDefault: '',
                        paraIsNeed: 'no'
                    }
                },
                returnParaRemove: function (i) {
                    this.returnParas.splice(i, 1)
                },
                returnParaAdd: function () {
                    this.returnParas.push(this.returnPara);
                    this.returnPara = {
                        paraName: '',
                        paraType: 'String',
                        paraLength: '',
                        paraDoc: '',
                        paraIsNeed: 'no'
                    }
                }
            }
        })
    </script>
{% endblock %}